*.egg-info
*.pyc
.ipynb_checkpoints*
push_docs.sh
stratmc/notebooks/*
deprecated/*
notebooks/GMD_paper/data/*
notebooks/GMD_paper/traces/*
notebooks/GMD_paper/traces_original/*
notebooks/GMD_paper/traces_thinned/*
notebooks/GMD_paper/traces_thinned_no_ll/*
notebooks/*


.DS_Store
docs/source/_build/*
docs/source/Makefile
docs/source/make.bat
*.zip
stratmc/examples/example_ages_df.pkl
stratmc/examples/example_ages_df_limiting_ages.pkl
stratmc/examples/example_docs_limiting_ages_trace_full.nc
stratmc/examples/example_docs_trace_full.nc
stratmc/examples/example_docs_trace_convergence.nc
stratmc/examples/example_docs_trace_data_density.nc
*.afdesign
*.afdesign~lock~
