*.egg-info
*.pyc
.ipynb_checkpoints*
push_docs.sh
stratmc/notebooks/*
notebooks/GMD_paper/data/*
notebooks/GMD_paper/traces/*
notebooks/GMD_paper/Fig11_white_noise_trials_1_and_2/*

.DS_Store
_build/*
Makefile
make.bat
*.zip
