blackjax
fastprogress
ipykernel
ipywidgets
jax

jupyter-sphinx
matplotlib
myst-nb
numpy
numpydoc
numpyro
pre-commit
pydata-sphinx-theme
pymc >= 5.16.2
pytest
pytest-cov
scikit-learn
scipy
seaborn
sphinx>=4.5
sphinx-copybutton
sphinx-design
sphinx-inline-tabs
sphinx-notfound-page
sphinx-remove-toctrees
sphinx-togglebutton
sphinxext-rediraffe
tqdm
watermark
xarray
